@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading-text-color: #292218;
    --secondary-text-color: #f2a943;
}

body {
    min-height: 100vh;
    background: #9ccbab;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 4em;
    background-color: #9ccbab;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    padding: 0.5% 2% 0.5% 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.header-name {
    color: white;
    text-decoration: none;
}

.header-name:hover {
    cursor: pointer;
    color: #ecab83;
}

.header-mayble {
    font-family: 'Orelega One', cursive;
    font-size: 2.3rem;
    letter-spacing: 0.09rem;
}

.header-notes {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.search {
    outline: none;
    border: 1.6px solid #ecab83;
    border-radius: 50px;
    padding: 0.2% 1%;
    background-color: #101010;
    color: #ecab83;
    transition: all 0.15s ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
}

.search:focus {
    border-radius: 5px;
}

.main {
    width: 100%;
    min-height: 10vh;
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.content {
    width: 80%;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    cursor: default;
}

.content h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-text-color);
    font-size: clamp(1.5em, 2.6vw, 90px);
    font-weight: 700;
    line-height: 1.5;
}

.quick-search {
    width: 102%;
    height: 3em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 20px;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}

.quick-point {
    border-radius: 10px;
    padding: 0.5% 1%;
    background-color: var(--secondary-text-color);
    color: var(--heading-text-color);
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.quick-point:hover {
    background-color: #ffbf98;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.content-1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2%;
    margin-top: 1.8%;
}

.content-2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 2%;
    margin-top: 1.8%;
}

.current-temp {
    height: 25em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    padding: 1em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.temp {
    font-family: 'Mulish', sans-serif;
    color: var(--secondary-text-color);
    font-size: clamp(3rem, 5.5vw, 10rem);
    font-weight: 600;
    line-height: 1;
}

.realfeel,
.current-info,
.high_low-temp,
.current-humidity,
.current-precipitation,
.rain-chance,
.snow-chance,
.current-wind,
.visibility {
    font-family: 'Mulish', sans-serif;
    color: var(--secondary-text-color);
    font-size: clamp(1.5rem, 1.5vw, 10rem);
    font-weight: 600;
}

.update-time {
    font-family: 'Mulish', sans-serif;
    color: rgba(128, 128, 128, 0.774);
    font-size: 1.2em;
    font-weight: 600;
}

.details {
    height: 25em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    padding: 1em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hourly {
    width: 102%;
    height: 15em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    margin-top: 1.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}

.slider {
    width: 90%;
    height: 9.5em;
    margin-top: 0.5%;
    background-color: #222129;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 15px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191820;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    color: white;
}

.hourly-temp {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    line-height: 1.1;
    color: #ecab83;
}

.hourly-rain-chance {
    font-family: 'Nunito', sans-serif;
    font-size: 0.7em;
    color: grey;
}

.days-forecast {
    height: 26em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.days-forecast h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    line-height: 1.1;
    color: #ecab83;
    margin-top: 2%;
}

.tomorrow-forecast {
    width: 90%;
    height: 6em;
    margin-top: 1%;
    border-radius: 15px;
    background-color: #222129;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.future-rain-chance,
.future-snow-chance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.2em;
    line-height: 1;
}

.future-rain-chance img,
.future-snow-chance img {
    width: 55px;
    -webkit-user-drag: none;

}

.tomorrow-temp,
.following-temp {
    font-family: 'Nunito', sans-serif;
    font-size: 4em;
    line-height: 1.1;
    color: #ecab83;
}

.tomorrow-max-low {
    display: flex;
    flex-direction: column;

    font-family: 'Nunito', sans-serif;
    color: grey;
    font-size: 1.7em;
    line-height: 1.3;
}

.astro {
    height: 26em;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5%;
}

.astro span {
    width: 85%;
    font-family: 'Nunito', sans-serif;
    color: #ecab83a6;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1%;
}

.astro img {
    width: 55px;
    -webkit-user-drag: none;
}

.weather-credits {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}

.weather-credits a {
    color: white;
    text-underline-offset: 0.2em;
    font-style: italic;
}

.footer {
    width: 100%;
    height: auto;
    min-height: 1em;
    margin-top: 2%;
    background-color: rgb(16 16 16 / 74%);
    border-top: 1px solid rgb(61, 61, 61);
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

.footer a {
    color: white;
}

.name {
    color: rgb(172, 16, 47);
    font-weight: 900;
    font-size: 1.8rem;
}

.credits-head {
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-color: white;
    text-decoration-thickness: .2rem;
    transition: all 0.2s ease-in-out;
}

.credits-head:hover {
    cursor: pointer;
    /* background-color: rgb(172, 16, 47); */
    text-decoration-color: rgb(172, 16, 47);
    text-decoration-thickness: 1rem;
    text-underline-offset: -.5rem;
}

/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 1900px) {

}










/* @media only screen and (max-width: 1900px) {

    
    .astro span {
        font-size: 1.5em;
    }

    .astro img {
        width: 45px;
    }
}

@media only screen and (max-width: 1750px) {
    .content h1 {
        font-size: 2.5em;
    }

    .slide {
        font-size: 1em;
    }

    .hourly-temp {
        font-family: 'Nunito', sans-serif;
        font-size: 2em;
        line-height: 1.1;
        color: #ecab83;
    }
    
    .hourly-rain-chance {
        font-family: 'Nunito', sans-serif;
        font-size: 0.7em;
        color: grey;
    }
}

@media only screen and (max-width: 1500px) {
    .content h1 {
        font-size: 2em;
    }

    .astro span {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }

    .weather-credits {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        height: 5em;
    }

    .header-mayble {
        font-size: 2rem;
        letter-spacing: 0.09vw;
    }
    
    .header-notes {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }
    
    .search {
        outline: none;
        border: 1.6px solid #ecab83;
        border-radius: 50px;
        padding: 0.2% 1%;
        background-color: #101010;
        color: #ecab83;
        transition: all 0.15s ease-in-out;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
    }

    .main {
        width: 100%;
        max-width: 1920px;
        min-height: 10vh;
        margin-top: 5.5%;
        display: flex;
        justify-content: center;
    }
    
    .content {
        width: 90%;
        min-height: 30px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        cursor: default;
    }

    .hourly {
        height: 14em;
    }

    .slider {
        width: 95%;
    }
    
    .slide {
        font-size: 1.3em;
    }
    
    .hourly-temp {
        font-size: 2em;
    }
    
    .hourly-rain-chance {
        font-size: 0.5em;
    }

    .footer {
        font-size: 1rem;
    }
    
    .footer a {
        color: white;
    }
    
    .name {
        color: rgb(172, 16, 47);
        font-weight: 900;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        margin-top: 7%;
    }

    .header {
        width: 100%;
    }
    
    .quick-search {
        width: 100%;
}

    .content-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1.8% 0% 0% 0%;
    }
    
    .content-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1.8% 0%;
    }

    .current-temp {
        width: 100%;
        height: 25em;
        background-color: #191820;
        border-radius: 30px;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details {
        height: 21em;
        margin-top: 1.8%;
        align-items: center;
    }
    
    .hourly {
        width: 100%;
        height: 15em;
        background-color: #191820;
        border-radius: 30px;
        margin-top: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
    }
    
    .slider {
        height: 8em;
    }

    .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #191820;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    
        font-family: 'Nunito', sans-serif;
        font-size: 1.1rem;
        color: white;
    }
    
    .hourly-temp {
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        line-height: 1.1;
        color: #ecab83;
    }

    .hourly-rain-chance {
        font-size: .7em;
    }

    .days-forecast {
        height: 24em;
    }

    .astro {
        height: 26em;
        background-color: #191820;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.5%;
        margin-top: 1.8%;
    }
}

@media only screen and (max-width: 900px) {
    .main {
        margin-top: 10%;
    }

    .header {
    padding: 0.5% 4% 0.5% 4%;
    }

    .search {
        outline: none;
        border: 1.6px solid #ecab83;
        border-radius: 50px;
        padding: 0.2% 3%;
        background-color: #101010;
        color: #ecab83;
        transition: all 0.15s ease-in-out;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
    }

    .current-temp {
        width: 100%;
        height: 22em;
        background-color: #191820;
        border-radius: 30px;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hourly {
        width: 100%;
        height: 13em;
        background-color: #191820;
        border-radius: 30px;
        margin-top: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
    }
}

@media only screen and (max-width: 750px) {
    .slider {
        height: 6.6em;
    }

    .footer {
        font-size: .7rem;
    }
    .name {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 650px) {
    .header {
        height: 4em;
    }

    .header-mayble {
        font-size: 2rem;
        letter-spacing: 0.09vw;
    }
    
    .header-notes {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .search {
        width: 10em;
        font-size: 1.3rem;
    }

    .content {
        width: 95%;
        min-height: 30px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        cursor: default;
    }
}

@media only screen and (max-width: 550px) {
    .current-temp {
        width: 100%;
        height: 20em;
        background-color: #191820;
        border-radius: 30px;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .temp {
        font-family: 'Nunito', sans-serif;
        color: #ecab83;
        font-size: 5em;
        line-height: 1;
    }

    .realfeel,
    .current-info,
    .high_low-temp,
    .current-humidity,
    .current-precipitation,
    .rain-chance,
    .snow-chance,
    .current-wind,
    .visibility {
        font-family: 'Nunito', sans-serif;
        color: #ecab83a6;
        font-size: 1.7em;
    }

    .details {
        height: 18em;
        margin-top: 1.8%;
        align-items: center;
    }

    .hourly-temp {
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;
        line-height: 1.1;
        color: #ecab83;
    }

    .tomorrow-temp,
    .following-temp {
        font-family: 'Nunito', sans-serif;
        font-size: 3.5em;
        line-height: 1.1;
        color: #ecab83;
    }

    .future-rain-chance img,
    .future-snow-chance img {
        width: 50px;
        -webkit-user-drag: none;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2;
    }
}

@media only screen and (max-width: 500px) {
    .header-mayble {
        font-size: 1.7rem;
        letter-spacing: 0.09vw;
    }
    
    .header-notes {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .hourly-temp {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        line-height: 1.1;
        color: #ecab83;
    }

    .days-forecast {
        height: 23em;
    }

    .tomorrow-max-low {
        display: flex;
        flex-direction: column;
    
        font-family: 'Nunito', sans-serif;
        color: grey;
        font-size: 1.3em;
        line-height: 1.3;
    }

    .future-rain-chance,
    .future-snow-chance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'Nunito', sans-serif;
        color: white;
        font-size: 1rem;
        line-height: 1;
    }
} */